# Entorno virtual de Python
.venv/

# Variables de entorno con valores reales
.env
#lambda y .zip
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Docker
*.tar

# Logs
logs/

# Archivos del sistema
.DS_Store
*.swp
*.swo
